> ## **__Area tasks__** <:Area_Tasks_achievements_icon:1151954133746733187>
.tag:area
### **__[Hard Seer's](<https://runescape.wiki/w/Hard_Seers_Village_tasks>)__**
⬥ [Camelot Teleport](<https://runescape.wiki/w/Camelot_Teleport>) <:Camelot_Teleport_icon:1131959098938765453> can be toggled to arrive in the centre of Seers' Village <:seersvillagelode:1032552309571469342> by talking to Stankers, Sir Kay, or any Seer.
### **__[Hard Ardougne](<https://runescape.wiki/w/Hard_Ardougne_achievements>)__**
⬥ [Watchtower Teleport](<https://runescape.wiki/w/Watchtower_Teleport>) <:Watchtower_Teleport_icon:1131959094643798048> can be toggled to go to Yanille <:yanillelode:1032552311429529661> instead. (speak to any Ardougne task NPC)
### **__[Elite Desert](<https://runescape.wiki/w/Elite_Desert_achievements>)__**
⬥ Unlimited teleports to __[the Ruins of Uzer](<https://runescape.wiki/w/Uzer>)__ and [Nardah](<https://runescape.wiki/w/Nardah>) using the [Desert Amulet 4](<https://runescape.wiki/w/Desert_amulet_4>). <:desertamulet4:1123599472291758192>
### **__[Elite Fremennik](<https://runescape.wiki/w/Elite_Fremennik_achievements>)__**
.
⬥ Unlimited teleports to the [Rellekka marketplace](<https://runescape.wiki/w/Rellekka>) on [Fremmenik Sea Boots](<https://runescape.wiki/w/Fremennik_sea_boots_4>) <:seaboots:1123596356175548506> and [Enchanted Lyre](<https://runescape.wiki/w/Enchanted_lyre>). <:lyre:1151959953729409034>
⬥ Ability to toggle the lyre teleport destination to Jatizso, Neitiznot, Miscellania or [__Etceteria__](<https://runescape.wiki/w/Etceteria>) by speaking to Olaf the Bard.
### **__[Hard Tirannwn](<https://runescape.wiki/w/Hard_Tirannwn_achievements>)__**
⬥ No longer fail stick traps using the [Tirannwn Quiver 3](<https://runescape.wiki/w/Tirannwn_quiver_3>). <:quiver3:1123599463227867267>
⬥ Additional unlimited teleport locations: [__Elf Camp__](<https://runescape.wiki/w/Elf_Camp>) and Tirannwn mushroom patch.
### **__[Hard Karamja](<https://runescape.wiki/w/Karamja_achievements#Hard_achievements>)__**
⬥ Teleport to the underground portion of the [Shilo Village mining site](<https://runescape.wiki/w/Shilo_Village_mine>) using [Karamja Gloves 3](<https://runescape.wiki/w/Karamja_gloves_3>). <:karamjagloves:1123596354766250095>
.
> ## **__Skills__** <:skill:1151954385736306760>
.tag:skills
### **__[Max Cape](<https://runescape.wiki/w/Max_cape>)__** <:maxcape:580177795703898117>
⬥ Offers three perk slots that can be filled with [Capes of Accomplishment](<https://runescape.wiki/w/Capes_of_Accomplishment>) by using them on it, as well as the functionality to view and remove existing perks.
⬥ Max cape perks apply to backpack allowing you to utilize the globetrotter backpack <:globetrotterbackpack:1123592248056102993> and <:dgcape:976732922545586246><:slayercape:975284344123953164><:masterquestcape:1091050888828813412>
### **__[112 Archaeology](<https://runescape.wiki/w/Archaeology>)__** <:archaeology:941211288665739274>
⬥ Level requirement for [Abyssal Link](<https://runescape.wiki/w/Abyssal_Link>). <:abyssallink:1124762426265583727> (can be boosted)
> ## **__Quests__** <:questpoint:1151954665227960390>
.tag:quests
### __**[Evil Dave’s Big Day Out](<https://runescape.wiki/w/Evil_Dave%27s_Big_Day_Out/Quick_guide>)**__
⬥ Ability to chip teleport tablets to alternate teleport destination by using the tablet on Dave's spellbook.
⬥ [Dave's Spellbook](<https://runescape.wiki/w/Dave_spellbook>) <:davespellbook:1123597962937905242> that holds up to 1000 charges of chipped teleports).
### __**[Fur ‘n’ Seek](<https://runescape.wiki/w/Fur_%27n_Seek/Wish_list>) + [Rag and Bone Man Wish List](<https://runescape.wiki/w/Rag_and_Bone_Man/Wish_list>)**__
⬥ Access to the Skeletal horror Teleport spell. <:Skeletal_horror_Teleport_icon:1131959111404224672>
### __**[Temple at Senntisten](<https://runescape.wiki/w/The_Temple_at_Senntisten>)**__
⬥ Access to Ancient Curses. <:soulsplit:615613924506599497>
### __**[Darkness of Hallowvale](<https://runescape.wiki/w/Darkness_of_hallowvale>)**__
⬥ Ability to unlock the [Burgh de Rott](https://runescape.wiki/w/Burgh_de_Rott) teleport on the Games Necklace <:gamesnecklace:1124762416597700618> with 500 Companion levels from [Temple Trekking](<https://runescape.wiki/w/Temple_Trekking>).
### __**[Desperate Times](<https://runescape.wiki/w/Desperate_Times>)**__
⬥ Charos’ Clue Carrier <:cluecarrier:1123597957791481906>
### __**[Rum Deal](<https://runescape.wiki/w/Rum_Deal>)**__
⬥ Access to [Braindeath Island](<https://runescape.wiki/w/Braindeath_Island>) and teleport on the Dungeoneering cape. <:dgcape:976732922545586246>
### __**[Dream Mentor](<https://runescape.wiki/w/Dream_Mentor>)**__
⬥ Access to [Spellbook Swap](https://runescape.wiki/w/Spellbook_Swap). <:sbs:543875425055670275>
### __**[Blood Runs Deep](<https://runescape.wiki/w/Blood_Runs_Deep>)**__
⬥ Moves Queen Sigrid to [Miscellania](<https://runescape.wiki/w/Miscellania>).
.
### __**[King of the Dwarves](<https://runescape.wiki/w/King_of_the_Dwarves>)**__
⬥ For access to the [Lava Flow Mine](<https://runescape.wiki/w/Lava_Flow_Mine>).
### __**[The Dig Site](<https://runescape.wiki/w/The_Dig_Site>) + [Find clean necklace in the Varrock Museum](<https://runescape.wiki/w/Dig_Site_pendant>)**__
⬥ Unlocks Dig Site Pendant. <:digsitependant:1124762422507479151>
.
### **__[Succession](<https://runescape.wiki/w/Succession>)__**
⬥ Access to the [Dive ability](<https://runescape.wiki/w/Dive>) when Bladed Dive is unavailable. <:dive:1049378668197195808>
⬥ Tier 6 of the [Infernal Puzzle Box](<https://runescape.wiki/w/Infernal_Puzzle_Box>) <:infernalpuzzlebox:994189299681607800> becomes available and ability to add to the tool belt.
### **__[Quest cape](<https://runescape.wiki/w/Quest_Cape>)__**
⬥ This cape provides teleports to the following locations:
        ⬩ Ancient Guthix Temple
        ⬩ Behind the Scenes
        ⬩ Champions' Guild
        ⬩ The Empty Throne Room
        ⬩ Glacor Cave
        ⬩ Fountain of Heroes
        ⬩ Legends' Guild
        ⬩ Tears of Guthix
        ⬩ Varrock Museum
        ⬩ World Gate
. 
> ## **__Other__**
.tag:other
### **__[Full Globetrotter outfit](<https://runescape.wiki/w/Globetrotter_outfit>)__** <:globetrotterjacket:1123592261175889971>
⬥ The globetrotter outfit is an outfit that is obtainable from the [Treasure Trails Reward Shop](<https://runescape.wiki/w/Treasure_Trails_Reward_Shop>) with points obtained by completing [Treasure Trails](<https://runescape.wiki/w/Treasure_Trails>).
        ⬩ The outfit will provide several QoL features some of which are charged-based through solving clues.
.
### **__[Double Surge ability](<https://runescape.wiki/w/Double_Surge_codex>)__** <:surgecodex:602561894414417944>
⬥ An item that can be read to unlock an upgrade to the [Surge](<https://runescape.wiki/w/Surge>) ability, giving it an extra charge with a separate independent and hidden cooldown.
        ⬩ The double Surge ability is not functional in the [Wilderness](<https://runescape.wiki/w/Wilderness>) when opted into PvP.
        ⬩ It can be created with 750 [codex pages](<https://runescape.wiki/w/Codex_page>) using the lectern. It is consumed upon use.
        ⬩ This version can be bought from or sold to other players or the Grand Exchange, but the __untradeable version only requires 500 codex pages__.
### **__[Bladed Dive ability](<https://runescape.wiki/w/Bladed_Dive>)__** <:bd:535532854281764884>
### **__[Totem of Treasure](<https://runescape.wiki/w/Totem_of_Treasure>)__** <:totemoftreasure:1124764867237269665>
⬥ A totem that decreases both the minimum and maximum number of clue scroll steps by one.
### **__[Trollheim Farm Teleport](<https://runescape.wiki/w/Trollheim_Farm_Teleport>)__** <:Trollheim_Farm_Teleport_icon:1151997356674383953>
⬥ Livid Farm spell
### **__[Total level 500 in Temple Trekking](<https://runescape.wiki/w/Temple_Trekking>)__** <:gamesnecklace:1124762416597700618>
⬥ Unlocks a shortcut to the [Nature’s Grotto](<https://runescape.wiki/w/Nature_Grotto#:~:text=A%20shortcut%20from%20the%20gate,The%20entrance%20to%20the%20Grotto.>) (total level 100) + [Burgh de Rott](https://runescape.wiki/w/Burgh_de_Rott) teleport on games necklace.
.
### **__[Sceptre of the Gods](<https://runescape.wiki/w/Sceptre_of_the_gods>)__** <:sotg:1123599971023847485>
⬥ The Sceptre of the gods is an item that may be received when playing [Pyramid Plunder](<https://runescape.wiki/w/Pyramid_Plunder>).
⬥ It teleports to the same locations as the regular [pharaoh's sceptre](<https://runescape.wiki/w/Pharaoh%27s_sceptre>) but has an additional teleport to the Golden Palace in Menaphos.
⬥ The sceptre has 10 teleport charges when fully charged, which is increased to 20 with [medium Desert achievements](https://runescape.wiki/w/Desert_achievements#Medium_achievements) completed, and further to 60 with [hard Desert achievements](https://runescape.wiki/w/Hard_Desert_achievements) completed.
.
### **__[T99 Prayers](<https://runescape.wiki/w/Praesul_codex>)__**
⬥ Depending on style the following DPS prayers can be used when fighting Double Agents:
        ⬩ [Malevolence](<https://runescape.wiki/w/Malevolence>) <:malevolence:513190159416557573>, [Desolation](<https://runescape.wiki/w/Desolation>) <:Desolation:1128612787061538836>, [Affliction](<https://runescape.wiki/w/Affliction>) <:affliction:513190158468907008>, or [Ruination](<https://runescape.wiki/w/Ruination>) <:ruination:1137940996391452772>.
### **__Zerk Auras__**
⬥ Depending on style the following DPS prayers can be used when fighting Double Agents:
        ⬩ [Mahjarrat Aura](<https://runescape.wiki/w/Mahjarrat_aura>) <:mahj:643148943856762890>, [Maniacal Aura](<https://runescape.wiki/w/Maniacal_aura>), [Berserker Aura](<https://runescape.wiki/w/Berserker_aura>), or [Reckless Aura](<https://runescape.wiki/w/Reckless_aura>).
        ⬩ Can be bought with [Marks of War](<https://runescape.wiki/w/Marks_of_War>) <:marksofwar:704701746869567551> in [War's Wares](<https://runescape.wiki/w/War%27s_Wares>)
### **__[Repair the CJS Fairy Ring](<https://runescape.wiki/w/Kharazi_Jungle>)__** <:portablefairyring:1084799722780360704>
### **__[Unlock ancient invention](<https://runescape.wiki/w/Ancient_Invention>)__** <:invention:689509250946695292>
### **__[Plant a Spirit Tree in Brimhaven](<https://runescape.wiki/w/Family_Spirit_Tree>)__** <:spirittreererooter:1123597953303584799>
.
{
  "embed": {
    "title": "",
    "color": 39423,
    "fields": [
      {
        "name": "__Table of Contents__",
        "value": "⬥ [Area Tasks]($linkmsg_area$)\n⬥ [Skills]($linkmsg_skills$)\n⬥ [Quests]($linkmsg_quests$)\n⬥ [Other]($linkmsg_other$)\n⬥ Return to <#1023016354145648741>",
        "inline": true
      }
    ]
  }
}
.embed:json
.pin:delete
