.img:https://i.imgur.com/M67gVWs.png
> **Medium Clue <:Medium:633728704438075435> Requirements**
.tag:mediumreqs
    • Skills <:skill:1012648819441283072>
        - <:Attack:1053373645856190555> 30 Attack
        - <:defence:499641965760086046> 40 Defence
        - <:ranged:499641965730594827> 30 Range
        - <:mining:499641965546176536> 10 Mining
        - <:agility:499641965730856990> 35 Agility
        - <:thieving:499641965663617038> 25 Thieving
        - <:crafting:499641965470679042> 20 Crafting
.
    • Quests <:QuestPoints:1054448367062765651>
        - Bar Crawl (miniquest)
        - Biohazard
        - Observatory Quest
        - Partial completion of Creature of Fenkenstrain
        - Partial completion of The Tourist Trap
        - Partial completion of Watchtower
