.img:https://i.imgur.com/M67gVWs.png
> **Optimal Master Clue <:Master:1019920500807450666> Requirements**
.tag:masteroptimalreqs
    • Skills <:skill:1012648819441283072>
        - <:archaeology:688349154615099409> 67 / 98 / 112 Archaeology → <:shadowsgrace:1088893308023078983> Shadow’s Grace + <:persistentrage:1088893708210020422> Persistent Rage + <:abyssallink:1088878544215609354> Abyssal Link
.
    • Quests <:QuestPoints:1054448367062765651>
        - 400 Quest Points → <:philipecarn:1088906978539077705> move Philipe Carnillean to Tokkul-Zo teleport
        - Reset Gower Quest → <:paulgower:1088907366579306497> move Paul Gower to Varrock farm
        - Evil Dave’s Big Day Out → <:davespellbook:1088518990957121626> Dave's Spellbook
        - Fur ‘n’ Seek + Rag and Bone Man Wish List → <:skelehorrortp:1088880711123083365> Skeletal Horror teleport
        - Temple at Senntisten → <:turmoil:1088881237382402049> Curses
        - Darkness of Hallowvale → <:gamesneck:1088881617864491070> Games Necklace Burgh de Rott option
        - Desperate Times → <:cluecarrier:1088518996334235749> Charos' clue carrier
        - Rum Deal → <:dungcape:1088882124213453000> Dungeoneering cape Braindeath Island teleport
        - Dream Mentor → <:sbs:1088889507039948850> Spellbook Swap
        - Blood Runs Deep → <:lotd:1088889997907726436> moves Queen Sigrid to Ring of Wealth teleport
        - King of the Dwarves → <:gote:1088890289051148298> Grace of the Elves Max Guild Garden Lava Flow Mine teleport
        - The Dig Site + find clean necklace → <:digsitepend:1088890858570526741> Dig Site Pendant
        - Succession → <:dive:1088891176754610296> Dive ability
        - Love Story → <:rellekatab:1088899439629975604> Chipped House Teleport tabs
        - Jack of Trades → <:housetele:1088899803536175104> Menaphos House
        - Ghost Ahoy → <:ectophial:1088899996566429746> Ectophial
.
        - Tales of the God Wars → <:thehearttab:1088905721690730496>  Heart of Gielinor Teleport tab
        - Eye for an Eye → <:cyclosistab:1088905714900148365>  Cyclosis Teleport tabs
        - Tuai Leit’s Own → <:tuaileittab:1088905724920352949>  Tuai Leit Teleport tabs
        - Ghosts from the Past → <:islandturtletab:1088905720101077084>  Islands That Once Were Turtles Teleport tabs
        - Damage Control → <:goshimatab:1088905719157366896>  Goshima Teleport tabs
        - The Elder Kiln → <:tokkulzo:1088905723670441994>  Tokkul-Zo
        - Pieces of Hate → <:bigbookopiracy:1088905712110936236>  Big Book o’ Piracy
        - Branches of Darkmeyer → <:drakansmedallion:1088905716766609450> Drakans Medallion
.
    • Achievement Diaries <:tasks:1088895870289838120>
        - <:desertammy2:1088904036822028359>  Medium Desert → Nardah teleport
        - <:tirannwnquiver3:1088897103616544801> Hard Tirannwn → Elf Camp teleport
.
    • Items <:sotg:1088894498010050611>
        - <:questcape:1088891514001829981> Quest cape
        - <:globejacket:1088513871620354078> Full Globetrotter outfit
        - <:Surge:799457167182659586> Double Surge ability codex
        - <:Max_cape:796729185652572160> Max (3 cape perks)
        - <:cluetotem:1088554569186951248> Totem of Treasure
        - <:templetrekking:1088894038545027226> Total level 500 in Temple Trekking → shortcut to the Nature’s Grotto + <:gamesneck:1088881617864491070> Burgh de Rott option
        - <:sotg:1088894498010050611> Sceptre of the Gods
        - <:reckless:643505179378974748> Damage Boosting Auras
        - <:invention:499641965474742283> Ancient Invention
.
    • Extras <:randomred:1088910494661881916>
        - <:greatwhiteshark:1088908409006465064> Ability to catch Great White Sharks
        - <:pvmhubtp:911389632657260565> 100 boss kills for portals
        - <:nymora:1088909373352443905> Atleast 1 Twin Furies kills for <:pvmhubtp:911389632657260565> teleport
        - <:greg:1088909505133285429> Atleast 1 Gregorovic kills for <:pvmhubtp:911389632657260565> teleport
        - <:mazcabteleport:1088910490677280840> Mazcab teleport
        - <:tortleshell:1088910495957913611> Tortle Portals on the Islands That Once Were Turtles
        - <:alazeaoakheart:1088910486868852766> Rescue Alazea Oakheart
